*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}
body{
    background-color:  hsla(195, 74%, 82%, 0.641);
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 100vh;
    display: flex;
}
section{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 10px;
}
.section-1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}
header h1{
    color: hsl(179, 62%, 43%);
    margin: 30px;
}
.section-1 h2{
    color: hsl(71, 73%, 54%);
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.section-1 p{
    color: hsl(218, 22%, 67%);
    margin-left: 20px;
    margin-bottom: 30px;
}
.section-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.price-section{
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0px 0px 0px 10px;
}
.price-section h1{
    color: white;
    font-size: 16px;
    margin: 20px;
}
.price-section p{
   color: rgba(255, 255, 255, 0.734);
   margin-bottom: 20px;
   font-size: 13px;
   margin-left: 20px;
}
.price-section button{
    margin-left: 20px;
    margin-bottom: 20px;
    height: 35px;
    width: 230px;
    border-radius: 5px;
    color: white;
    background-color: hsl(71, 73%, 54%);
    border: none;
    align-items: center;
}
.price{
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
}
.price :nth-child(1){
color: white;
font-size: 20px;
margin-right: 10px;
}
.price :nth-child(2){
    color: hsla(0, 0%, 100%, 0.567);
}
.About-us{
    background-color: hsl(179, 54%, 54%);
    border-radius: 0px 0px 10px 0px;
}
.About-us h1{
  color: white;
  margin: 20px;
}
.About-us p{
    color:rgba(255, 255, 255, 0.734) ;
    margin-left: 20px ;
    font-size: 13px;
    margin-bottom: 20px;
}
@media screen and (max-width:375px) {
    main{
        width: 100%;
    }
    section{
        width: 100%;
        padding: 30px;
    }
    .section-1{
        display: flex;
        width: 100%;
        height: fit-content;
    }
    .section-2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .price-section{
        border-radius: 0px;
    }
    .About-us{
        border-radius: 0px 0px 10px 10px;
    }
}
